name: Release

on:
  release:
    types: [published]

jobs:
  release:
    name: Prepare release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: "Set version number"
        run: |
          sed -i '/  "version": /c\  "version": "${{ github.ref }}",' custom_components/holidays/manifest.json
          sed -i 's|heads/tags/||' custom_components/holidays/manifest.json
          sed -i 's|refs/tags/||' custom_components/holidays/manifest.json
      # Pack the HACS dir as a zip and upload to the release
      - name: ZIP holidays Dir
        run: |
          cd /home/runner/work/Garbage-Collection/Garbage-Collection/custom_components/holidays
          zip holidays.zip -r ./
      - name: Upload zip to release
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: /home/runner/work/Garbage-Collection/Garbage-Collection/custom_components/holidays/holidays.zip
          asset_name: holidays.zip
          tag: ${{ github.ref }}
          overwrite: true
